<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.saberking.jvav.apm.mall.mapper.ApmStoreOrderStatusMapper">
    
    <resultMap type="ApmStoreOrderStatus" id="ApmStoreOrderStatusResult">
        <result property="id"    column="id"    />
        <result property="oid"    column="oid"    />
        <result property="changeType"    column="change_type"    />
        <result property="changeMessage"    column="change_message"    />
        <result property="changeTime"    column="change_time"    />
    </resultMap>

    <sql id="selectApmStoreOrderStatusVo">
        select id, oid, change_type, change_message, change_time from apm_store_order_status
    </sql>

    <select id="selectApmStoreOrderStatusList" parameterType="ApmStoreOrderStatus" resultMap="ApmStoreOrderStatusResult">
        <include refid="selectApmStoreOrderStatusVo"/>
        <where>  
            <if test="oid != null "> and oid = #{oid}</if>
        </where>
    </select>
    
    <select id="selectApmStoreOrderStatusById" parameterType="Integer" resultMap="ApmStoreOrderStatusResult">
        <include refid="selectApmStoreOrderStatusVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertApmStoreOrderStatus" parameterType="ApmStoreOrderStatus" useGeneratedKeys="true" keyProperty="id">
        insert into apm_store_order_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oid != null">oid,</if>
            <if test="changeType != null and changeType != ''">change_type,</if>
            <if test="changeMessage != null and changeMessage != ''">change_message,</if>
            <if test="changeTime != null">change_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oid != null">#{oid},</if>
            <if test="changeType != null and changeType != ''">#{changeType},</if>
            <if test="changeMessage != null and changeMessage != ''">#{changeMessage},</if>
            <if test="changeTime != null">#{changeTime},</if>
         </trim>
    </insert>

    <update id="updateApmStoreOrderStatus" parameterType="ApmStoreOrderStatus">
        update apm_store_order_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="oid != null">oid = #{oid},</if>
            <if test="changeType != null and changeType != ''">change_type = #{changeType},</if>
            <if test="changeMessage != null and changeMessage != ''">change_message = #{changeMessage},</if>
            <if test="changeTime != null">change_time = #{changeTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteApmStoreOrderStatusById" parameterType="Integer">
        delete from apm_store_order_status where id = #{id}
    </delete>

    <delete id="deleteApmStoreOrderStatusByIds" parameterType="String">
        delete from apm_store_order_status where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>